body {
    --bold-color: #a9c3fe;
    --bold-weight: 700;
}

div.block-language-dataview.node-insert-event table td ul {
    list-style: none;
    flex-direction: row-reverse;
}

.tag {
    float: left;
    white-space: nowrap;
}